.encryption .decrypted {
	color: green;
}

.encryption.gamemaster > span {
	display: none;
}

.encryption.gamemaster[data-show='encrypted'] .encrypted {
	display: initial;
}

.encryption.gamemaster[data-show='decrypted'] .decrypted {
	display: initial;
}

.encryption.gamemaster[data-show='players'] .players {
	display: initial;
}
